<div class="user-profile-container">
  <div class="user-profile-box">
    <h2 class="text-center">パスワードをお忘れですか？</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mt-4" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group mt-3">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions mt-4 text-center">
        <%= f.submit "パスワード再設定用リンクを送信", class: "btn btn-custom btn-block" %>
      </div>
    <% end %>

    <div class="mt-4 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
