<div class="user-profile-container">
  <div class="user-profile-box">
  <h3>レビュー投稿</h3>
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> エラーが発生しました</h2>
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h5>銘柄：<%= @sake.name %></h5>
    <%= form_with(model: [@sake, @review], local: true) do |form| %>
      <%= form.hidden_field :sake_id, value: @sake.id %>

      <div id="star-rating" class="field mt-3">
        <%= form.label :rating, "評価" %><br>
        <span id="rating-display">0</span>
        <%= form.hidden_field :rating, id: 'rating-value' %>
      </div>

      <div class="field mt-3">
        <%= form.label :sweetness, "甘さ" %><br>
        <span id="sweetness-value">2.5</span>
        <%= form.range_field :sweetness, step: 0.5, min: 0, max: 5, id: 'sweetness-range' %>

      </div>

      <div class="field mt-3">
        <%= form.label :spiciness, "辛さ" %><br>
        <span id="spiciness-value">2.5</span>
        <%= form.range_field :spiciness, step: 0.5, min: 0, max: 5, id: 'spiciness-range' %>
      </div>

      <div class="field mt-3">
        <%= form.label :lightness, "淡白さ" %><br>
        <span id="lightness-value">2.5</span>
        <%= form.range_field :lightness, step: 0.5, min: 0, max: 5, id: 'lightness-range' %>
      </div>

      <div class="field mt-3">
        <%= form.label :richness, "濃醇さ" %><br>
        <span id="richness-value">2.5</span>
        <%= form.range_field :richness, step: 0.5, min: 0, max: 5, id: 'richness-range' %>
      </div>

      <div class="field mt-3">
        <%= form.label :aroma, "香り" %><br>
        <button type="button" class="btn btn-outline-success aroma-button" data-value="良い">良い</button>
        <button type="button" class="btn btn-outline-danger aroma-button" data-value="悪い">悪い</button>
        <%= form.hidden_field :aroma, id: 'aroma-value' %>
      </div>

      <div class="field mt-3">
        <%= form.label :aftertaste, "後味" %><br>
        <%= form.text_field :aftertaste %>
      </div>

      <div class="field mt-3">
        <%= form.label :drinking_style, "飲み方" %><br>
        <%= form.text_field :drinking_style %>
      </div>

      <div class="field mt-3">
        <%= form.label :matching_food, "合う食事" %><br>
        <%= form.text_field :matching_food %>
      </div>

      <div class="field mt-3">
        <%= form.label :comment, "コメント" %><br>
        <%= form.text_area :comment %>
      </div>

      <div class="field mt-3">
        <%= form.label :image, "画像" %><br>
        <%= form.file_field :image %>
      </div>

      <div class="field mt-3">
        <%= form.label :recorded_at, "記録日" %><br>
        <%= form.date_select :recorded_at %>
      </div>

      <div class="actions mt-3">
        <%= form.submit "レビューを投稿", class: 'btn btn-custom' %>
      </div>
    <% end %>

    <div class="return-button mt-4">
      <%= link_to sake_path(@sake), class: 'btn btn-custom btn-circle' do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>
  </div>
</div>

